<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	
	<title>Bonegraph</title>
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic" rel="stylesheet">
	<link href="../static/style-chat.css" th:href="@{/style-chat.css}" rel="stylesheet" />
	<link href="../static/normalize.css" th:href="@{/normalize.css}" rel="stylesheet" />
	<link rel="shortcut icon" href="../static/res/ico1.png" th:href="@{/res/ico1.png}">
</head>
<body>
<div class="wrapper">
	
	<!-- -------------------------------------- -->
	<div class="side content">
		<div class="postWrapper input">
			<div class="newPost">
				<div class="ava"></div>
				<form action="#" th:action="@{/chat}" method="post">
					<textarea class="inputtext" name="foo" id="" cols="30"
							  rows="10" placeholder="Input your message" maxlength="450"></textarea>
					<button type="submit" class="btn active">submit</button>
				</form>
			</div>
			<span class="max_symbols">max symbols: 450</span>
		</div>
		<div th:each="message : ${messages}" class="postWrapper postType">
			<div class="post">
				<div class="ava"></div>
				<div class="who">
					<span class="post_name">First Last</span>
					<a href="#" class="post_login">@login</a>
					<span class="post_date">17.08.19</span>
				</div>
				<p class="postText">
					<span th:text="'#'"></span>
					<span th:text="${messages.indexOf(message)}"></span>
					<span th:text="${message}"></span>
					Thymeleaf provides you with 'each' loop, and you can use it through the
					return "loop-simple-example" ; ... It contains the information telling you about the
					current state of loop, for example, the number of items of loop,
					current index of loop
					
					<a href="#" th:href="@{/clear + '?index=' + messages.indexOf(message)}"></a>
				</p>
				<span class="time">07.59</span>
				<a href="#" class="delete">delete</a>
			</div>
		</div>
		
		<div class="space">
			<img class="photoBottom" src="../static/res/left-arrow.png" th:src="@{/res/left-arrow.png}">
		</div>
	</div>
</div>
</div>
</body>
</html>
