<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	
	<title>Bonegraph</title>
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic" rel="stylesheet">
	<link href="../static/style-reg.css" th:href="@{/style-reg.css}" rel="stylesheet" />
	<link href="../static/normalize.css" th:href="@{/normalize.css}" rel="stylesheet" />
	<link rel="shortcut icon" href="../static/res/ico1.png" th:href="@{/res/ico1.png}">
</head>
<body>
<div class="wrapper">
	
	<div class="wrapperColumn enter">
		<h3 class="wrapper_title">Sign in</h3>
		
		<p>login</p>
		<input type="text">
		<p>password</p>
		<input type="text">
		
		<div class="btn">
			<button>Enter</button>
		</div>
		<a th:href="@{/app}">app</a>
	</div>
	
	<div class="wrapperColumn registration">
		<h3 class="wrapper_title">Sign up</h3>
		
		<p>firstName</p>
		<input type="text">
		<p>lastName</p>
		<input type="text">
		<p>login</p>
		<input type="text">
		<p>password</p>
		<input type="text">
		<p>password</p>
		<input type="text">
		
		<div class="btn">
			<button>create an account</button>
		</div>
	</div>
	

</div>
</body>
</html>
























